<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <!--  <ion-button color="dark" routerLink ="paginas/pag1">Esto es un boton</ion-button>
    <ion-button color="dark" routerLink ="paginas/pag2">Boton2</ion-button>
    <ion-button color="dark" routerLink ="paginas/pag3">Boton3</ion-button>-->

 <!--   <ion-list>
      <ion-item routerLink="/pag1">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>p1</ion-label>
      </ion-item>
      <ion-item routerLink="/pag2">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>p2</ion-label>
      </ion-item>
      <ion-item routerLink="/pag3">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-label>p3</ion-label>
      </ion-item>
    </ion-list>-->

    <ion-list >
      <ion-item *ngFor="let elemento of elementos" routerLink = "{{elemento.ruta}}">
        <ion-icon name = "{{elemento.icono}}"></ion-icon>
        <ion-label>{{elemento.titulo}}</ion-label>
      </ion-item>
    </ion-list>

    <p> {{name}}</p>
    <p><a href='{{url}}'>Prueba Google</a> </p>

    <p> <input disabled type="text" value="Hola"></p>
    <p> <input disabled="false" type="text" value="Hola"></p>
    <p> <input disabled="{{activo}}" type="text" value="Hola"></p>

    <p><input [disabled]="false" type="text" value="Hola"></p>
    <p><input [disabled]="activo" type="text" value="Hola"></p>

    <input type="button" value="mensaje">

    <p><input [(ngModel)] = "poblacion" type="text">{{poblacion}}</p>
    <p><input [(ngModel)] = "codigopostal" type="text">{{codigopostal}}</p>

    <ion-button color="dark" routerLink ="paginas/pag3"><p>
      <input [disabled]="activo" >
    </p></ion-button>


    <table border="3">
      <tr>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>DNI</td>
      </tr>

      <tr *ngFor="let persona of personas">
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellidos}}</td>
        <td>{{persona.DNI}}</td>
      </tr>
    </table>
  </div>
</ion-content>
